.granger__slider-item {
  height: 500px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;

  .granger__slider-item-gradient {
    position: absolute;
    height: inherit;
    width: 8%;
    background: transparent; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #fec5c6,
      transparent
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #fec5c6,
      transparent
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .granger__slider-item-body {
    height: inherit;
    display: flex;
    align-items: center;
    z-index: 1000;
  }
}

@media (max-width: 1024px) {
  .granger__slider-item-body {
    padding-left: 20px;
  }
}

@media (max-width: 425px) {
  .granger__slider-item-gradient {
    display: none;
  }
  .granger__slider-item-body {
    align-items: flex-end !important;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 0;
  }
}
