/* -----  Bulma ----- */
@import "bulma.scss";

/* ----- NProgress ----- */
@import "nprogress.scss";

/* ----- Animation ----- */
@import "animation.scss";

/* ----- Styles Pages ----- */

// General
html {
  overflow: hidden;
}

// Layout
.granger__layout-content {
  overflow-y: scroll;
  height: calc(100vh - 52px);
  overflow-x: hidden;
}

.granger__layout-content::-webkit-scrollbar {
  width: 10px;
}

.granger__layout-content::-webkit-scrollbar-track {
  border-left: 1px solid rgba(121, 87, 213, 0.2);
}

.granger__layout-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

// Books
.granger__books-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 5%;
}

// Modal
@media (max-width: 768px) {
  .modal {
    padding: 10px;
  }
}

// Session page
.granger__session-page-container {
  height: calc(100vh - 52px);
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 450px;
    margin: 50px;
  }
}

@media (max-width: 768px) {
  .granger__session-page-container {
    .card {
      width: 100%;
    }
  }
}

/* ----- Components ----- */
// BookCard
@import "components/BookCard.scss";
// SliderItem
@import "components/SliderItem.scss";
